<div class="item-grid ">
    <% items.forEach(item => { %>
    <a href="/items/<%= item.id %>">
        <img class="item-cover" height="200" width="200" style="border-radius: 10px;" src="<%=item.coverImagePath%>"
            alt="">
    </a>
    <% }) %>
</div>