<nav class="navbar">
    <div class="brand-title">Inventory Mng</div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a href="/users/dashboard">Dashboard</a></li>
            <li><a href="/users">Search Users</a></li>
            <li><a href="/items">Search Items</a></li>
        </ul>
    </div>
</nav>