<h2>Search Items</h2>

<form action="/items" method="get">
    <div class="form-row">
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="name" value="<%=// searchOptions.title || '' %>">
        </div>
    </div>
    <div class="">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<br>
<div class="item-grid ">
    <% if (items.length > 0) {%>
    <h3>Recent Items</h3>
    <% } %>

    <% items.forEach(item => { %>
    <a href="/items/<%= item.id %>">
        <img class="item-cover" height="200" width="200" style="border-radius: 10px;" src="<%=item.coverImagePath%>"
            alt="">
    </a>
    <% }) %>
</div>